:root {
    --Blue: #009EF7;
    --Green: #50CD89;
    --Purple: #7239EA;
    --Red: #F1416C;
    --Yellow: #FFC700;
    --Gray: #E4E6EF;
    --Gray-Background: #F5F8FA;
    --Gray-Dark: #333333;
    --Gray-Darkest: #131628;
    --Gray-Dark-Hover: #1E1E2D;
    --Gray-Light: #A1A5B7;
    --Gray-Lightest: #EFF2F5;
    --Gray-Medium: #555555;
    --Background-Light: #f6f8fa;
    --Background-Menu-Hover: #e8ecf2;
    --Border-Light: #d0d7de;
    --Font-color-default: #1f2328;
    --Sombra: 0 4px 8px 0 rgba(0,0,0,0.2);
    --Sombra-Hover: 0 8px 16px 0 rgba(0,0,0,0.2);
    --Sombra-Branca: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    --Max-Width: 1140px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--Gray-Dark);
    list-style: none;
    font-family: "Poppins";
}

body{
    background-color: var(--Background-Light);
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--Border-Light);
}

.titulo img {
    height: 40px;
    width: 40px;
}

p {
    font-size: 16px;
    min-height: 40px;
    padding: 16p;
    width: 100%;
    font-weight: 400;
    border-radius: 10px;
}

.imagem {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

section {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    border: solid 1px transparent;
    justify-content: center;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    min-width: 400px;
    height: 540px;
    border: 1px solid var(--Border-Light);
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 1024px;
    margin: 0 auto;
}

.info ul li {
    
    padding-left: 16px;
}

input {
    padding: 0px 4px;
    height: 44px;
    width: 50px;
    margin-bottom: 8px;
}

button {
    height: 40px;
    min-width: 120px;
    background-color: var(--Blue);
    font-weight: 600;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: var(--Blue) solid 1px;
    transition: all 0.5s;
    margin-bottom: 8px;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 450px)  {
    h1 {
       font-size: 28px;
    }
    .card {
        width: 100%;
        min-width: 320px;
    }

}

@media screen and (max-width: 400px)  {
    h1 {
       font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }

}

@media screen and (max-width: 355px)  {
    h1 {
       font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }

}
